html,
            body {
                min-height: 100%;
            }
            body,
            div,
            form,
            input,
            select,
            p {
                padding: 0;
                margin: 0;
                outline: none;
                font-family: Roboto, Arial, sans-serif;
                font-size: 16px;

                color: #eee;

            }
            body {
                background: url("/Images/backgroud.jpg") no-repeat center;


                background-size: cover;


    
          
          
            }